<p id="notice"><%= notice %></p>

<h1>All Users</h1>



<br>

<% @users.each do |user| %>
<div style="padding-left: 350px;padding-right: 350px;">
<div class="card">
  <div class="card-header">
    User <%= user.id %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= user.username %></p>
    <p class="card-text text"><%= user.email %></p>
    <p class="card-text"><%= user.bio %></p>
  
  </div>
  <div class="card-footer text-muted ">
    <div class ="bg-primary bg-warning btn btn-primary">
    <%= link_to 'Show', user %>
  </div>
  <div class ="btn bg-warning btn-primary">
    <%= link_to 'Edit', edit_user_path(user) %>
  </div>
    <div class="btn bg-warning btn-primary">
      <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
</div>
<br>
<% end %>
